header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border: solid 1px rgba(0, 0, 0, 0.116);
}
img{
    height: 8rem;
}
.btn-one {
    margin: 2rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: black;
    background-color: #734a9153;
    text-decoration: none;
    font-family: 'Cinzel';
    font-size: 0.8rem;
    transition: all 0.3s;
    position: relative;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top: 1.5px solid #734a91;
    border-bottom: 1.5px solid #734a91;
    transform: scale(0.1, 1);
}
.btn-one:hover{
    letter-spacing: 1.5px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
h1{
    font-size: 3.5rem;
    font-family: 'Cinzel';
    letter-spacing: 5px;
}

@media only screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    h1{
        font-size: 2rem;
        margin: 1rem;
    }
    img{
        height: 6rem;
    }
    .btn-one{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 670px) {

    h1{
        display: none;
    }
    ul{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .btn-one{
        font-size: 0.8rem;
        margin: 1px;
    }
}
